body {
    background-color: #93BFCF;
}

h1 {
    color: #395eda;
} 

h3 {
    color: #3ea761;
}

hr {
    
    border-style: dotted none none;
    border-color: gray;
    border-width: 5px;
    width: 5%;
}

